@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Roboto:wght@300;400;500&display=swap');

@font-face {
  src: url("../fonts/Gravity-Regular.otf");
  font-family: 'Gravity-Regular'
}

@font-face {
  src: url("../fonts/Gravity-Light.otf");
  font-family: 'Gravity-Light'
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-height: 100vh;
  
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
  background-color: #fcfcfc;
  font-family: 'Gravity-Light';
}
*, *:before, *:after {
  box-sizing: inherit;
}
/******************* 
  begin after reset 
********************/

/* first media query */
@media (min-width: 1px) {
  header {
    text-align: center;
    background-color: rgb(184, 184, 184);
    background-color: #eaeaea;
    padding: 1.5em;
    font-size: 1.5em;
    letter-spacing: 5px;
  }
  a {
    text-decoration: none;
    
  }
  .nav-ul {
    text-transform: uppercase;
  }
  nav {
    display: flex;
    justify-content: space-around;
    padding: 1.1em;
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
  }
  nav li {
    padding: 0 6px;
  }
  nav a {
    font-family: 'Roboto';
    font-size: 1.2em;
    font-weight: 300;
   
  }
  em {
    font-style: italic;
  }
  img {
    max-width: 100%;
    height: auto;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
  
  }
  aside {
   
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
  }
  .grid-two-box {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* To my understanding the first child element of the > 
  will only be selected, so in this case the first p tag
  is selected from the aside, but it could be any parent
  element to make this work. */
  aside > p {
    margin: .5rem;
  }
  .profile-image {
    border-radius: 50%;
    overflow: hidden;
    max-width: 50%;
    height: auto;
    margin-bottom: 1.5em;
    filter: grayscale(0.1);
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 10px rgba(101, 101, 101, 0.3)
          0.3em 0.3em 0.3em rgba(0,0,0,0.3);
          
  }
  .main-image-landing {
    background-image: url('../images/mountain2.jpg');
    background-position: center;
    background-size: cover;
		display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
		height: 90vh;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
  .main-image-landing h1 {
    color: white;
    font-size: 2.2em !important;
    font-family: 'Gravity-Regular';
    
  }
  .main-image-landing h3 {
    font-weight: 500;
  }
  #wrapper {
    max-width: 1000px;
    min-height: 100vh;
    background-color: #fff;
    margin: 0 auto;
  }
  #skills {
    padding: 0;
    margin: 0;
  }
  .section-landing {
    text-align: center;
    /* padding-top: 1em; */
  }

  .div-landing h1 {
    padding-bottom: 0.5em;

  }
  .section-landing h1 {
    font-size: 1.5em;
    padding: 0.3em 0em;
    letter-spacing: 1px;
  }
  .section-landing h2 {
    font-size: 1.1em;
    padding: 1em 0;
    padding-top: 0.6em;
  }
  .section-landing h3 {
    font-size: 1.5em;
    padding: 1em 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 2em;
  }
  .section-landing p {
    font-size: 1.2em;
    padding: 0 1.1em;
    line-height: 27px;
    padding: 2em 1.3em;
  }
  .section-skills {
    margin: 0 auto;
  }
  article {
    border: 1px solid black;
    margin: 0 auto;
    width: 90%;
    margin-top: 0.3em;
    text-align: center;
    padding: 2em 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  .article-border {
    border: 1px solid rgb(130, 130, 130);
  }
  .section-skills h1, .section-why h1 {
    padding: 1em;
    font-size: 1.3em;
    font-weight: bold;
  }
  .section-skills h2 {
    padding: 1em 0.5em;
    padding-bottom: 0em;
    font-size: 1.3em;
  }
  .section-skills p {
    padding: 0.5em;
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 22px;
  }
  .section-why h3, .section-projects h3, 
  .section-projects h5, .section-workspace h2 {
    padding: 1em;
    font-size: 1.1em;
    max-width: 90% !important;
    margin: 0 auto;
  }
  .section-projects h5 {
    font-size: 1.3em;
    padding-left: 0.9em;
  }
  .section-why p, .section-projects p,
  .section-workspace p {
    letter-spacing: 1px;
    margin-bottom: 1.5em;
    line-height: 20px;
    padding: 1em 1em;
    max-width: 90%;
    margin: 0 auto;
  }
  .section-projects h2 {
    padding: 1em;
    font-size: 1.1em;
  }
  .section-workspace h2 {
    padding: 1em;
    font-size: 1.1em;
  }
  .section-workspace p {
    padding: 1em;
  }
  .h3-facts {
    padding-top: 0 !important;
  }
  .h2-program-headers {
    display: none;
  }
  .h2-program-headers-small {
    padding: 2em;
    font-size: 1em;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    min-height: 15vh;
    line-height: 30px;
    padding-top: 2em;
  }
  .word-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
  .section-h1 {
    text-align: center;
  }
  .divider {
    background-color: #45555e;
  }
  .collection-p {
    background-color: #f0f2f7;
    color: #000;
  }
  .fa-arrow-down {
    padding: 1em;
    padding-top: 0;
    color: black;
  }
  #landing {
    padding: 0;
    margin: 0;
  }
  /* this blockquote style was taken from codepen code number XJaEXY.
     I changed the background/font color but kept the rest. */
  blockquote {
    font-size: 1.4em;
    width:80%;
    margin:50px auto;
    font-style:italic;
    color: #e6e6e6;
    padding:1.2em 30px 1.2em 75px;
    line-height:1.6;
    position: relative;
    background:#000000;
  }
  blockquote::before {
    font-family:Arial;
    content: "\201C";
    color:#ced7d4;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  blockquote::after {
    content: '';
  }
  blockquote span{
    display:block;
    color:#fefefe;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }
  .fa-arrow-up-long {
    color: #fff !important;
    font-size: 1.6em;
    padding: 0.5em;
  }
  .arrow {
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;
  }
  .arrow a {
    text-decoration: none;
    color: #fff;
  }
  /* endblockquote style */
  .project-h2 {
    text-align: center;
    font-size: 2em !important;
    padding-bottom: 2em;
    padding-top: 1em !important;
  }
  h5 {
    padding-left: 1em;
    padding-bottom: 1em;
  }
  .project-p {
    padding-left: 1em;
    padding-bottom: 1em;
  }
  .desk {
    filter: grayscale(0.1);
    box-shadow: inset
     0 -3em 3em rgba(255, 255, 255, 0.1),
          0 0  0 2px rgb(255,255,255);   
  }
  .article-desk {
    border: none;
  }
  .forestbackground {
    background-image: url('../images/forestbackground.jpg');
    margin: 0 auto;
    width: 100%;
    height: 250px;
    box-shadow: inset
     0 -3em 3em rgba(255, 255, 255, 0.1),
          0 0  0 2px rgb(255,255,255);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: hue-rotate(373deg);
  }
  .forestbackground h1 {
    color: black;
    
  }
  footer {
    text-align: center;
    font-weight: 600;
    color: #fff;
  }
  footer h1 {
    display: flex;
    padding: 1em;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }
  .footer-name {
    padding-top: 1em;
  }
  .section-workspace {
    padding-bottom: 2em;
  }
  .box-shadow-wrapper {
    box-shadow:
    0 -3em 3em rgba(0,0,0,0.1),
         0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
  .section-workspace h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 2em;
    padding-top: 3em;
  }
  .section-projects {
    box-shadow:
    0 -3em 3em rgba(0,0,0,0.1),
         0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
  .art-div-grid {
    display: flex;
    flex-direction: column;
  }
  .art-portfolio {
    padding: 0;
    margin-top: 1.5em;
    margin-bottom: 2em;
    border-radius: 11px;
    
  }
  .art-portfolio h2 {
    font-size: 1.5em;
  }
  .bullet-list li {
    list-style-type: circle !important;
    margin-left: 2em;
    padding-top: 0.4em;
  }
  li a:hover {
    color: rgb(0, 64, 128);
    background-color: rgba(223, 223, 223, 0.5);
  }
  a:hover p, a:hover h5 {
    color: rgb(0, 64, 128);
    background-color: rgba(223, 223, 223, 0.5);
  }
  a:visited {
    /* color: rgb(87, 155, 227); */
  }
  .transition-ease {
    transition: all 0.5s all;
  }
  .transition:hover {
    transform: scale(1.02) rotate(0.0deg);
    border-color: rgba(0, 0, 0, 0.5);
  }
  .transition-i:hover {
    transform: scale(1.2600) rotate(0.0deg);
    border-color: rgba(0, 0, 0, 0.5);
  }
  .background-color-change:hover {
    background-color: #f0f0f0;
    border: 1px solid rgb(187, 187, 187);
  }
  .view-bg:hover {
    background-color: rgb(12, 5, 53) !important;
    color: white;
    border-radius: 12px;
  }
  .social-links i {
    padding: 0.5em;
    color: white;
  }
}

/* ******************
  end first media query!
  I put this here so I can 
  see it on the sidebar!
  ****************** */

@media (min-width: 600px) {
  header {
    font-size: 2em;
  }
  .marg-width {
    margin-left: 3em;
  }
  .grid-landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 950px;
    margin: 0 auto;
    padding: 2em 0;
  }
  .profile-image {
    align-self: center;
    max-width: 300px;
    justify-self: center;
 
  }
  .grid-landing p {
    line-height: 30px;
    font-weight: 500;
  }
  .divider {
    margin-top: 2em;
    padding: 6em;
  }
  .section-why p, .section-why h3 {
    max-width: 100%;
    margin: 0 auto;
  }
  .section-why h3 {
    max-width: 100% !important;
  }
  .section-workspace h1 {
    font-size: 2em;
  
  }
}

@media (min-width: 650px) {
  aside {
   max-width: 90%;
   margin: 0 auto;
   margin-bottom: 4em;
  }
  .grid-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-skills h2 {
    font-size: 1.6em;
    padding-bottom: 0.5em;
  }
  .h2-program-headers-small {
    font-size: 1.5em;
    line-height: 30px;
    letter-spacing: 15px;
  }
  .h2-program-headers-small h2 {

    line-height: 50px;
  }
  .top {
    padding-top: 0.5em;
    margin-left: 0.5em;
  }
  .top a {
    padding-top: 1em !important;
    text-decoration: none !important; 
  }
  .footer-top a {
    color: #fff;
    text-decoration: none;
  }
  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .word-wrapper p {
    line-height: 25px;
  }
  .h2-ecu {
    padding-top: 0 !important; 
  }
  .project-h2 {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
  .workspace-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section-workspace {
    padding-bottom: 3em;
  }
}